package {{basePackage}}.controller

import {{basePackage}}.domain.BaseResource
import org.springframework.data.domain.Page
import org.springframework.data.domain.Pageable
import org.springframework.http.ResponseEntity
import org.springframework.validation.Errors

interface CommonController<E : BaseResource> {
    fun create(domain: E, errors: Errors): ResponseEntity<E>
    fun delete(id: String): ResponseEntity<E>
    fun getById(id: String): ResponseEntity<E>
    fun getAll(search: String?, pageable: Pageable): ResponseEntity<Page<E>>
    fun update(id: String, domain: E, errors: Errors): ResponseEntity<E>
    fun modify(id: String, domain: E): ResponseEntity<E>
    fun saveAll(domains: List<E>, errors: Errors): List<E>
    fun deleteAll(ids: List<String>): List<E>
}
