package {{basePackage}}.enumdefinition

import {{basePackage}}.domain.EnumDefinition
import org.springframework.data.jpa.repository.JpaRepository
import org.springframework.data.jpa.repository.JpaSpecificationExecutor
import org.springframework.data.jpa.repository.Query
import org.springframework.data.repository.PagingAndSortingRepository
import org.springframework.data.repository.query.Param
import org.springframework.stereotype.Repository

@Repository
interface EnumDefinitionRepository : JpaRepository<EnumDefinition, Int>,
		PagingAndSortingRepository<EnumDefinition, Int>,
		JpaSpecificationExecutor<EnumDefinition> {

	fun existsByEnumGroupAndCode(enumGroup: String, code: String) : Boolean

	@Query("select code from EnumDefinition where enumGroup = :enumGroup")
	fun getAllCodesByEnumGroup(@Param("enumGroup") enumGroup: String): List<String>
}