{{name}} = {{^vendorExtensions.testModel}}{{#isString}}"{{/isString}}{{{defaultValue}}}{{#isString}}"{{/isString}}{{/vendorExtensions.testModel}}{{#vendorExtensions.testModel}}{{#isListContainer}}listOf({{/isListContainer}}{{classname}}(
				{{#vars}}
					{{>app-module/src/test/kotlin/controller/apiTestVar}}{{#hasMore}},{{/hasMore}}
				{{/vars}}
				){{#isListContainer}}){{/isListContainer}}{{/vendorExtensions.testModel}}