authorization:
  token-url: http://{{systemLower}}-keycloak:8080/auth/realms/{{keycloak.client}}/protocol/openid-connect/token
swagger-ui:
  keycloak-url: {{keycloak.auth-url}}
keycloak:
  auth-server-url: {{keycloak.auth-url}}
  resource: {{keycloak.client}}
  realm: {{keycloak.client}}
  use-resource-role-mappings: true
  principal-attribute: preferred_username
  credentials.secret: ${KEYCLOAK_SECRET:secret}
  ssl-required: external
  disable-trust-manager: true