<component name="ProjectRunConfigurationManager">
	<configuration default="true" name="Application" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
		<module name="{{artifactId}}-resources" />
		<option name="SPRING_BOOT_MAIN_CLASS" value="{{basePackage}}.Application" />
		<option name="ACTIVE_PROFILES" value="development" />
		<option name="ALTERNATIVE_JRE_PATH" />
		<envs>
			<env name="APPLICATION_DB_HOST" value="localhost" />
			<env name="APPLICATION_DB_USER" value="root" />
			<env name="APPLICATION_DB_PASS" value="" />
		</envs>
		<method v="2">
			<option name="Make" enabled="true" />
		</method>
	</configuration>
</component>