{{#isMapContainer}}Map<String, {{{returnModelType}}}>{{/isMapContainer}}{{#isListContainer}}{{#reactive}}Flux{{/reactive}}{{^reactive}}Page{{/reactive}}<{{{returnModelType}}}>{{/isListContainer}}{{^returnContainer}}{{{returnModelType}}}{{/returnContainer}}