{{#isMapContainer}}Map<String, {{{returnModelType}}}>{{/isMapContainer}}{{#isListContainer}}{{#reactive}}Flux{{/reactive}}{{^reactive}}{{#vendorExtension.isGetListMethod}}Page{{/vendorExtension.isGetListMethod}}{{^vendorExtension.isGetListMethod}}List{{/vendorExtension.isGetListMethod}}{{/reactive}}<{{{returnModelType}}}>{{/isListContainer}}{{^returnContainer}}{{{returnModelType}}}{{/returnContainer}}
