{{#isMapContainer}}Map<String, {{{returnModelType}}}>{{/isMapContainer}}{{#isListContainer}}{{#reactive}}Flux{{/reactive}}{{^reactive}}{{#vendorExtensions.isGetListMethod}}Page{{/vendorExtensions.isGetListMethod}}{{^vendorExtensions.isGetListMethod}}List{{/vendorExtensions.isGetListMethod}}{{/reactive}}<{{{returnModelType}}}>{{/isListContainer}}{{^returnContainer}}{{{returnModelType}}}{{/returnContainer}}
