package {{package}}

{{#imports}}import {{import}}
{{/imports}}
import javax.persistence.*
import org.hibernate.annotations.LazyCollection
import org.hibernate.annotations.LazyCollectionOption

{{#models}}
{{#model}}
{{#isEnum}}
{{>app-module/src/main/kotlin/domain/enum}}
{{/isEnum}}
{{^isEnum}}
{{>app-module/src/main/kotlin/domain/pojoentity.kt}}
{{/isEnum}}
{{/model}}
{{/models}}
