package {{package}};

{{#imports}}import {{import}};
{{/imports}}
import com.fasterxml.jackson.annotation.*;
import lombok.Getter;
import lombok.Setter;

{{#models}}
{{#model}}
{{#isEnum}}
{{>enumOuterClass}}
{{/isEnum}}
{{^isEnum}}
{{>pojo}}
{{/isEnum}}
{{/model}}
{{/models}}
