image: gradle:latest

stages:
  - test
  - build
  - deploy

variables:
  IMAGE_VERSION: {{imageVersion}}
{{#codecov}}
  CODECOV_TOKEN: "{{{codecov}}}"
{{/codecov}}

test-system:
  stage: test
  script:
    - ./gradlew test
{{#codecov}}
  after_script:
    - bash <(curl -s https://codecov.io/bash)
{{/codecov}}
  cache:
    key: "$CI_COMMIT_REF_NAME"
    paths:
      - build
    {{#appsLower}}
      - app-{{.}}/build
    {{/appsLower}}
      - .gradle

build-docker:
  stage: build
  script:
{{#appsLower}}
    - ./gradlew app-{{.}}:jib -Djib.to.image=$CI_REGISTRY_IMAGE/{{.}}:$IMAGE_VERSION -Djib.to.auth.username=$CI_REGISTRY_USER -Djib.to.auth.password=$CI_REGISTRY_PASSWORD
{{/appsLower}}
  only:
    - master
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: pull
    paths:
      - build
{{#appsLower}}
      - app-{{.}}/build
{{/appsLower}}
      - .gradle

deploy-kube:
  image:
    name: lachlanevenson/k8s-kubectl:latest
    entrypoint: [ "/bin/sh", "-c" ]
  stage: deploy
  variables:
    APISERVER: "https://kubernetes.default.svc"
    SERVICEACCOUNT: "/var/run/secrets/kubernetes.io/serviceaccount"
  script:
    - kubectl config set-cluster local --server=$APISERVER --certificate-authority=$SERVICEACCOUNT/ca.crt
    - kubectl config set-credentials gitlab-ci --token=$KUBE_TOKEN
    - kubectl config set-context local-ctx --cluster=local --namespace=default --user=gitlab-ci
    - kubectl config use-context local-ctx
    - kubectl config view
    - kubectl apply -f ./kube
    - kubectl get pods --namespace=default
  environment:
    name: integration
    url: $AUTO_DEVOPS_DOMAIN
  only:
    - master
