<?xml version="1.1" encoding="UTF-8" standalone="no"?>
<databaseChangeLog xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
				   xmlns:ext="http://www.liquibase.org/xml/ns/dbchangelog-ext"
				   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
				   xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog-ext http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-ext.xsd http://www.liquibase.org/xml/ns/dbchangelog http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.5.xsd">
<!--	<changeSet author="CodeGeneration" id="common_create_metadata_definition" >
		<preConditions onFail="MARK_RAN">
			<not>
				<tableExists tableName="metadata_definition"/>
			</not>
		</preConditions>
		<createTable tableName="metadata_definition">
			<column autoIncrement="true" name="id" type="INT">
				<constraints primaryKey="true"/>
			</column>
			<column name="name" type="VARCHAR(255)"/>
			<column name="description" type="VARCHAR(510)"/>
			<column name="group_name" type="VARCHAR(255)"/>
			<column name="state" type="VARCHAR(255)"/>
			<column name="created_by" type="VARCHAR(255)"/>
			<column name="created_date" type="datetime(6)"/>
			<column name="updated_by" type="VARCHAR(255)"/>
			<column name="updated_date" type="datetime(6)"/>
			<column name="reason" type="VARCHAR(255)"/>
		</createTable>
	</changeSet>-->

<!--	<changeSet author="CodeGeneration" id="common_create_binding">
		<preConditions onFail="MARK_RAN">
			<not>
				<tableExists tableName="binding"/>
			</not>
		</preConditions>

		<createTable tableName="binding">
			<column name="id" type="VARCHAR(36)">
				<constraints primaryKey="true"/>
			</column>
			<column name="name" type="VARCHAR(255)"/>
			<column name="description" type="VARCHAR(510)"/>
			<column name="code" type="VARCHAR(45)"/>
			<column name="type" type="VARCHAR(45)"/>
		</createTable>

		<createIndex tableName="binding" indexName="binding_search_idx" unique="false">
			<column name="bound_entity_type" type="VARCHAR(45)"/>
			<column name="bound_entity_code" type="VARCHAR(45)"/>
		</createIndex>
	</changeSet>-->

	<changeSet author="CodeGeneration" id="common_create_entity" >
		<preConditions onFail="MARK_RAN">
			<not>
				<tableExists tableName="entity"/>
			</not>
		</preConditions>

		<createTable tableName="entity">
			<column name="entity_id" type="${UUID}">
				<constraints primaryKey="true"/>
			</column>
			<column name="type" type="VARCHAR(255)"/>
			<column name="parent_id" type="${UUID}"/>
			<column name="parent_name" type="VARCHAR(255)"/>
			<column name="parent_description" type="VARCHAR(255)"/>
			<column name="state" type="VARCHAR(255)"/>
			<column name="source" type="VARCHAR(255)"/>
			<column name="created_by" type="VARCHAR(255)"/>
			<column name="updated_by" type="VARCHAR(255)"/>
			<column name="created_date" type="datetime"/>
			<column name="updated_date" type="datetime"/>
			<column name="reason" type="VARCHAR(1024)"/>
		</createTable>
	</changeSet>
</databaseChangeLog>
