apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{systemLower}}-{{appNameLower}}
  namespace: default
spec:
  minReadySeconds: 5
  replicas: 1
  selector:
    matchLabels:
      app: {{systemLower}}-{{appNameLower}}
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  template:
    metadata:
      labels:
        app: {{systemLower}}-{{appNameLower}}
    spec:
      containers:
        - env:
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: {{systemLower}}-configmap
                  key: db_host
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: {{systemLower}}-secret
                  key: db_username
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: {{systemLower}}-secret
                  key: db_password
          image: {{containerRegistry}}/{{systemLower}}/{{appNameLower}}:{{imageVersion}}
          imagePullPolicy: Always
          name: {{systemLower}}-{{appNameLower}}
          ports:
            - containerPort: 8080
          resources:
            limits:
              cpu: 350m
              memory: 450Mi
            requests:
              cpu: 250m
              memory: 350Mi
      imagePullSecrets:
        - name: gitlab-secret
---
apiVersion: v1
kind: Service
metadata:
  name: {{systemLower}}-{{appNameLower}}
  namespace: default
spec:
  ports:
    - port: 8080
  selector:
    app: {{systemLower}}-{{appNameLower}}
  type: LoadBalancer
---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: "/$2"
    nginx.ingress.kubernetes.io/x-forwarded-prefix: "/{{appNameLower}}/v1"
  name: ingress-{{systemLower}}-{{appNameLower}}
  namespace: default
spec:
  rules:
    - http:
        paths:
          - backend:
              serviceName: {{systemLower}}-{{appNameLower}}
              servicePort: 8080
            path: "/{{appNameLower}}/v1(/|$)(.*)"
