package {{basePackage}}.listener

import {{basePackage}}.domain.BaseResource
import org.springframework.data.domain.AuditorAware
import java.util.*
import javax.persistence.PrePersist
import javax.persistence.PreUpdate

class BaseResourceListener : AuditorAware<UUID> {
	// TODO need to get current userId
	override fun getCurrentAuditor(): Optional<UUID> {
		return Optional.empty()
	}

	@PrePersist
	fun <T : BaseResource> touchForCreate(domain: T) {
		val now = Date()
		val auditor = currentAuditor.orElse(null)?.toString()

		domain.id = UUID.randomUUID().toString()
		domain.entity.history.createdBy = auditor
		{{#suffixHistoryAt}}
		domain.entity.history.createdAt = now
		{{/suffixHistoryAt}}
		{{^suffixHistoryAt}}
		domain.entity.history.createdDate = now
		{{/suffixHistoryAt}}
		domain.entity.history.updatedBy = auditor
		{{#suffixHistoryAt}}
		domain.entity.history.updatedAt = now
		{{/suffixHistoryAt}}
		{{^suffixHistoryAt}}
		domain.entity.history.updatedDate = now
		{{/suffixHistoryAt}}
}

	@PreUpdate
	fun <T : BaseResource> touchForUpdate(domain: T) {
		val now = Date()

		domain.entity.history.updatedBy = currentAuditor.orElse(null)?.toString()
		{{#suffixHistoryAt}}
		domain.entity.history.updatedAt = now
		{{/suffixHistoryAt}}
		{{^suffixHistoryAt}}
		domain.entity.history.updatedDate = now
		{{/suffixHistoryAt}}
	}
}
