<?xml version="1.0" encoding="utf-8"?>
<databaseChangeLog
		xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog
		http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.6.xsd">

	<property name="UUID" value="varchar(36)" dbms="{{database.name}},h2"/>
	<property name="JSON_OBJECT" value="json" dbms="{{database.name}}"/>
	<property name="JSON_OBJECT" value="varchar(2048)" dbms="h2"/>
	<property name="BOOLEAN_VALUE" value="boolean" dbms="{{database.name}},h2"/>
</databaseChangeLog>