<?xml version="1.0" encoding="utf-8"?>
<databaseChangeLog
		xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.4.xsd">

	<property name="UUID" value="varchar(36)" dbms="mysql,h2"/>
	<property name="UUID" value="uuid" dbms="postgresql"/>
	<property name="JSON_OBJECT" value="text" dbms="mysql,h2"/>
	<property name="JSON_OBJECT" value="json" dbms="postgresql"/>
	<property name="BOOLEAN_VALUE" value="BOOLEAN" dbms="postgresql"/>
	<property name="BOOLEAN_VALUE" value="TINYINT(1)" dbms="mysql,h2"/>

</databaseChangeLog>